html {
  height: 100%;
}
body {
  background: repeat linear-gradient(45deg, #202020, #080808);
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: rgba(33, 34, 51, 0.9);
}
h1 {
  font-size: 5em;
  color: #ffffff;
  font-style: italic;
  font-family: "Madimi One", sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #651af0;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  font-style: italic;
  font-family: "Madimi One", sans-serif;
}
#home {
  font-size: 3.5em;
  margin-right: auto;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}
#home:hover {
  font-size: 3.5em;
  margin-right: auto;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  background-color: rgba(65, 67, 100, 0.9);
  border-radius: 0.1em;
  border: 2px solid white;
}
.spacer {
  flex: 1;
}
#readMe {
  color: #651af0;
  font-size: 2rem;
  position: relative;
  align-self: flex-end;
  margin-top: 10px;
  text-decoration: none;
  font-family: "Madimi One", sans-serif;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

#scoreText {
  color: #fff;
}
#restart {
  font-size: 2em;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  border: 3px, solid black;
  background: linear-gradient(45deg, #8f5deb, #651af0);
  color: #fff;
  border-radius: 3em;
}
#description {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: white;
  font-size: 1.5em;
  margin: 40px;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 10px;
  color: #fff;
  background: none;
}

#gameArea {
  width: 800px;
  margin: auto;
  text-align: center;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 2rem;
  border: 5px solid white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  border-radius: 50px;
  background: url(../media/table.jpg);
}
.cards {
  display: flex;
  justify-content: center;

  min-height: 150px;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.card-image {
  width: 100px;
  height: auto;
  margin: 5px;
  border-radius: 4px;
}
.button-container {
  text-align: center;
}
button {
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  max-width: 200px;
  max-height: 50px;
}
#newGameButton {
  background-color: green;
}

#betButton {
  background-color: green;
}
#hitButton {
  background-color: red;
}
#standButton {
  background-color: #eed202;
}
#balanceDisplay {
  padding-top: 20px;
}
#betAmount {
  max-width: 16%;
  padding: 5px 5px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 20px;
}
#result {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  color: red;
}
